<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'home' %}">Receipts</a>
                <a href="{% url 'receipt_new' %}">Create Receipts</a>
                <a href="{% url 'account_list' %}">Accounts</a>
                <a href="{% url 'account_new' %}">Create Account</a>
                <a href="{% url 'category_list' %}">Categories</a>
                <a href="{% url 'category_new' %}">Create Category</a>
                <a href="{% url 'logout' %}">Logout</a>
            </nav>
        </header>
        {% block content %}

        {% endblock content %}
    </body>
</html>