{% extends 'base.html' %}



{%block content%}
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button>Create</button>
        </div>
    </form>
</main>
{%endblock content%}